/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}
/* ------- HEADINGS ------ */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #C1A01E;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #CA9F00;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ------- PARAGRAPHS ------ */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* -------ICONS ------ */
.icon-big {
    font-size: 350%;
    display: block;
    color: #CA9F00;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #CA9F00;
    font-size: 120%;
    margin-right: 10px;

    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

#alignRight {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}


/* ------- LINKS ------ */

a:link,
a:visited {
    color: #CA9F00;
    text-decoration: none;
    padding-bottom: 1 px;
    border-bottom: 1px solid #CA9F00;
    transition: border-bottom 0.2x, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}


/* ------- BUTTONS ------ */


/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */

header {
    background-color: #18191B;
    height: 23vh;
}


.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

#logo-text {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 30%;
    font-weight: 300;
}

#list-text {
    text-align: center;
}

#register-text {
    text-align: center;
    color: #C1A01E
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #CA9F00;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon {
    font-size: 200%;
    color: #CA9F00;
}


/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #000;
    z-index: 9999;
    background-color: #000;
}

.sticky .main-nav { margin-top: 20px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 17px 0;
    color: #CA9F00;
}

.sticky .logo {display: none; }
.sticky .logo-black { display: block; }

/* --------------------------------------- */
/* FEATURES */
/* --------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}
#selectBox {
	
	width: 350px;
}

#group {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


/* --------------------------------------- */
/* Search box */
/* --------------------------------------- */

div.registrationbox{
	margin:0 auto;
	max-width: 500px;
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#view{
	width: 40%;
    background-color: #d8a477;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #74611C;
    color: #fff;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #CA9F00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #74611C;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #CA9F00;
    color: #CA9F00;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #74611C;
    color: #fff;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
/* --------------------------------------- */
/* MEALS */
/* --------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s; opacity: 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}



/* --------------------------------------- */
/* SEARCH */
/* --------------------------------------- */

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #CA9F00;
}

.form-inline button {
	padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #CA9F00;
    border: 1px solid #CA9F00;
    color: #fff;
}

.form-inline button:hover {
    border: 1px solid #74611C;
    background-color: #74611C;
}

#searchBox {
	width: 90%;	
}
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  
#searchBox {
	width: 100%;	
}
}




/* --------------------------------------- */
/* HOW IT WORKS */
/* --------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div{
    color: #CA9F00;
    border: 2px solid #CA9F00;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* --------------------------------------- */
/* TABLE */
/* --------------------------------------- */

#dogs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dogs td, #dogs th {
    border: 1px solid #171717;
    padding: 8px;
    color: #fff
}

#dogs tr:nth-child(even){background-color: #2F2F2F;}
#dogs tr:nth-child(odd){background-color: #171717;}

#dogs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #18191B;
    color: #C1A01E;
}

/* --------------------------------------- */
/* CITIES */
/* --------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* --------------------------------------- */
/* TESTIMONIALS */
/* --------------------------------------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2px;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* --------------------------------------- */
/* SIGN UP */
/* --------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #CA9F00;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/* --------------------------------------- */
/* FORM */
/* --------------------------------------- */

.contact-form {
    width: 90%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#find-us {
    color: #555;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
*:focus {outline: none}

.map-box {
    width: 100%;
    height: 630px;
    position: relative;
}
.map {
    width: 100%;
    height: 630px;
    position: relative;
    z-index: 0;
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 60px;
    background-color: rgba(255, 255,255, 0.8);
    z-index: 10;
    height: 630px;
    padding-top: 40px;
}

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    color: #333;
}

.success {background-color: rgba(38, 191, 68, 0.8); }

.error { background-color: rgba(209, 46, 46, 0.8)}

/* --------------------------------------- */
/* FOOTER */
/* --------------------------------------- */

footer {
    background-color: #171717;
    padding: 50px;
    font-size: 90%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #C1A01E;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #786413;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-github,
.ion-social-linkedin-outline,
.ion-social-facebook,
.ion-ios-email {
    transition: color 0.2s;
}

.ion-social-github:hover {
    color: #24292E;
}
.ion-social-linkedin-outline:hover {
    color: #0077B5;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-ios-email:hover {
    color: #AC382C;
}
footer p {
    color: #786413;
    text-align: center;
    margin-top: 20px;
}

/* --------------------------------------- */
/* Animations */
/* --------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated, 
.js--wp-3.animated {
    opacity: 1;
}